<div class='container'>
    <div class='nav-menu' fxLayout='row' fxLayoutAlign='space-around center' fxHide.lt-md='true'>
        <div class='business-logo' fxLayout='row' fxLayoutAlign='start center' fxFlex='20' fxFlexOffset='-10' fxLayoutGap='20px'>

            <img  href='#home' src='../../assets/business-logo.png' alt='logo'>
            <h2 href='#home' class='business-title'>unCHARTED</h2>

        </div>
        <div  class='nav-items' >


            <a href='#home' mat-button>home</a>
            <a href='#about' mat-button> about us</a>
            <a href='#materials' mat-button>material</a>
            <a href='#work' mat-button>work</a>
            <a href='#pro' mat-button>pro</a>
            <a href='#contact' mat-button>contact</a>

            

        </div>

        
    </div>

    <!-- <mat-drawer-container >
        <mat-drawer #sidenav position='end'>
        <a href='#home' mat-button>home</a>
        <a href='#about' mat-button> about us</a>
        <a href='#materials' mat-button>material</a>
        <a href='#work' mat-button>work</a>
        <a href='#pro' mat-button>pro</a>
        <a href='#contact' mat-button>contact</a>

    </mat-drawer>
    </mat-drawer-container>

    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm fxLayout='row' fxLayoutAlign='center center' fxFlex='140'>
        <mat-icon >menu</mat-icon>
    </button> -->

    <!-- sidenav in mobile view -->

  
<!-- 
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav class='sidenav-header'>
            <mat-nav-list>
                <a href="#" [routerLink]="'/about'" routerLinkActive='active' mat-list-item>About us</a>
                <a href="#" [routerLink]="'/resources'" routerLinkActive='active' mat-list-item>Resources</a>
                <a href="#" [routerLink]="'/membership'" routerLinkActive='active' mat-list-item>MemberShip</a>
                <a href="#" [routerLink]="'/training'" routerLinkActive='active' mat-list-item>Training</a>
                <a href="#" [routerLink]="'/authentication'" routerLinkActive='active' mat-list-item>Login/Register</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div>Nothing yet</div>
        </mat-sidenav-content>
    </mat-sidenav-container> -->


    <section class="home" id='home'>
        
        <div class='bg-video'>
            <video class='video-content' autoplay muted loop preload="auto" poster='../../assets/video-back.png'>
                <source src='../../assets/videos/VID-20210215-WA0008.mp4' type='video/mp4'>

            </video>
        </div>



        <!-- <div class="pop-up--logo">
            <img src='../../assets/business-logo.png' class='onload-image'>
        </div> -->

    </section>


    <section class="about" id='about'>
        <div class="about-container" fxLayout='row' fxLayoutAlign='center center' fxLayout.lt-md='column-reverse' fxLayoutAlign.lt-md='center center' fxLayout.lt-sm='column-reverse' fxLayoutAlign.lt-sm='center start' fxLayoutGap='52px'>
            <div class="about-illustration" fxLayout='row' fxLayoutAlign='center center' fxFlex='50' fxLayout.lt-sm='column' fxLayoutAlign.lt-sm='center center'>


                <mat-card class='background-card'></mat-card>
                <mat-card class='image-card'></mat-card>

            </div>
            <div class="about-text" fxLayout='column' fxLayoutAlign='space-between stretch' fxFlex='30'
                fxLayoutGap='32px'>

                <div class="about-text--heading">
                    <h1 class="about-text--heading">ABOUT US</h1>
                    <img class='about-text--underline' src='../../assets/Line 2.png'>
                </div>

                <div class="about-text-paragraph" fxLayout.lt-sm='row' fxLayoutAlign.lt-sm='start center'>
                    <p class="about-text-paragraph">
                        Uncharted is the path we take to seek new inspirations, materials,craftsmen, collections, business partnerships interiors etc.Creativity is born spontaneously with the help of creative minds,inspiring materials, crafts and the interaction/connectionbetween people.
                    </p>

                </div>

                <button class='about-button' mat-stroked-button color="primary" fxFlexAlign='start'>Discover
                    More</button>

            </div>
        </div>
    </section>
    <section class="materials" id='materials'>
        <div class="material-container" fxLayout='column' fxLayoutGap='52px'>
            <div class="material-container--title" fxLayout='row' fxLayoutAlign='center center' fxLayout.lt-md='column'>
                <h1 class="material-container--title__text">
                    materials
                </h1>
                <img class='material-text--underline' src='../../assets/Line 2.png' fxHide='true' fxShow.lt-md ='true'>

            </div>
            <div class="material-main--container" fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='12px'>
                <div class="material-left--lines">
                </div>
                <div class="material-container--carousel">
                    <div class="material-carousel" fxHide.lt-sm>
                        <mat-carousel timings="700ms ease-in" [autoplay]="true" interval="4000" color="#896249"
                            maxWidth='1400px' slideHeight='600px' maintainAspectRatio="false" proportion="70" slides="5"
                            [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr">
                            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                                [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false">
                            </mat-carousel-slide>
                        </mat-carousel>
                        
                        
                    </div>

                    <div class="material-right--lines">
                    </div>
                    <div class="material-carousel" fxHide='true' fxShow.lt-sm>
                        <mat-carousel timings="700ms ease-in" [autoplay]="true" interval="4000" color="#896249"
                            maxWidth='360px' slideHeight='600px' maintainAspectRatio="false" proportion="80" slides="5"
                            [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr">
                            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                                [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false">
                            </mat-carousel-slide>
                        </mat-carousel>
                    </div>
                    <div class="material-carousel--text">
                        <h1 class="material-carousel--text" fxLayout='row' fxLayoutAlign='center center'>
                            egg shell
                        </h1>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pro" id='pro'>
        <div class="pro-container" >

            <div class="pro-container--title" fxLayout='row' fxLayoutAlign='center center' fxLayout.lt-md='column' fxLayout.lt-sm='column'>
                <h1 class="pro-container--title__text" fxLayout.lt-md='row' fxLayoutAlign.lt-md='end center' fxFlex.lt-md='15' fxLayout.lt-sm='row' fxLayoutAlign.lt-sm='end center' fxFlex.lt-sm='15'>
                    antiques of the future
                </h1>
                <img class='pro-text--underline' src='../../assets/Line 2.png' fxHide='true' fxShow.lt-md ='true' >
            </div>
            <div class="pro-container--carousel">

                <!-- <div class="pro-carousel">
                    

                    <mat-carousel timings="1000ms ease-in" [autoplay]="true" interval="4000" color="primary"
                        maxWidth="800px" slideHeight='600px' maintainAspectRatio="false" proportion="70" slides="5"
                        [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true"
                        [useMouseWheel]="false" orientation="ltr">
                        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                            [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
                    </mat-carousel>
                </div> -->
            </div>
            <div class="antique-image--container" fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='24px' fxLayout.lt-md='column-reverse' fxLayoutAlign.lt-md='center center'>
                <div class="antique-leftImage" fxLayout='column' fxLayoutAlign='space-between center' fxLayoutGap='24px'  fxLayout.lt-md='row-reverse' fxLayoutAlign.lt-md='space-between start'>
                    <img class='antique-left--image' src='../../assets/antique-left.png' fxFlexOffset.lt-md='15'>

                    <div class="antique-left--image__text--container" fxLayout.lt-md='column' fxLayoutAlign.lt-md='center stretch' >
                    <img class='antique-underline' src='../../assets/line1.png'>
                    <h4 class="antique-left--text" fxLayout='column' fxLayoutAlign='center center'>
                        This modern take on the classic empire style Selenite Chandelier. The look has the allure of restoration era luxury for interiors ranging from industrial to glamorous.

                    </h4>
                </div>
                </div>

                <div class='antique-rightImage' fxLayout.lt-md='column' fxLayoutAlign.lt-md='center center' fxLayoutGap.lt-md='14px'>
                    <img class='antique-right--image' src='../../assets/antique-right.png'>
                    <h3 class="antique-right--text" fxLayout='row' fxLayoutAlign='center center'>
                        Selenite Chandeliers
                    </h3>
                </div>
            </div>

        </div>
    </section>
    <section class="work" id="work">
        <div class="work-container">
            <div class="work-container--title" fxLayout='row' fxLayoutAlign='center center' fxLayout.lt-md='column' fxLayout.lt-md='center center'>
                <h1 class="work-container--title__text">
                    projects
                </h1>
                <img class='work-text--underline' src='../../assets/Line 2.png' fxHide='true' fxShow.lt-md ='true'>
            </div>
            <div class="work-container--carousel">
                <div class='work-carousel'>
                    <mat-carousel timings="1000ms ease-in" [autoplay]="true" interval="4000" color="#896249"
                        maxWidth="800px" slideHeight='600px' maintainAspectRatio="false" proportion="70" slides="5"
                        [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true"
                        [useMouseWheel]="false" orientation="ltr">
                        <mat-carousel-slide #matCarouselSlide *ngFor="let workslide of workslides; let i = index"
                            [image]="workslide.image" overlayColor="#00000040" [hideOverlay]="true">
                        </mat-carousel-slide>
                    </mat-carousel>
                </div>
            </div>
            <!-- 
            <button class='work-button' mat-stroked-button color="primary"  fxLayout='couumn' fxLayoutAlign='center center'>Discover
                More</button> -->
        </div>
        <div class="work-discover" fxLayout='row' fxLayoutAlign='center center'>
            <button class='work-button' mat-stroked-button color="primary">Discover
                More</button>
        </div>


    </section>

    <section class="contact" id="contact">
        <div class="contact-container" fxLayout='column' fxLayoutAlign='end center' fxLayout.lt-sm='column' fxLayout.lt-sm='center center'>

            <div class="contact-container--title">
                <h1 class="contact-container--title__text">CONTaCT</h1>
                <img class='contact-text--underline' src='../../assets/Line 2.png' fxHide='true' fxShow.lt-md ='true'>
                <!-- <h4 class="contact-container--subtitle">
                    connect with us
                </h4> -->


            </div>

            <button mat-raised-button color="primary" matRipple matRippleCentered matRippleColor='#896249' href='#contact-form'
                matRippleRadius='1200' fxFlexOffset.lt-sm='15' class='contact-button' (click)="openContact()">GET IN TOUCH</button>


        </div>
    </section>

    <footer fxLayout='row' fxLayoutAlign='start center' fxLayout.lt-sm='column' fxLayoutAlign.lt-sm='start center' fxLayoutGap.lt-sm='12px' >
        <div class="footer-container" fxFlexOffset='15' >
            <div class="footer-logo" fxLayout='column' fxLayoutAlign='space-around center' fxFlex='30' fxLayout.lt-sm='row' fxLayoutAlign.lt-sm='start center'>

                <div class="footer-logo--image"> <img class='business-logo' src='../../assets/footer-logo.png' fxHide.lt-md='true'>
                </div>

                <div class="footer-logo--text" fxLayout='column' fxLayoutAlign='center center'>
                    <h2 class='business-title' fxHide.lt-md='true'>unCHarted</h2>

                    <img src='../../assets/footer-Mlogo.png' fxHide='true' fxShow.lt-md='true'>
                    <h2 class='footer-business--subtitle'>ACCESS TO INDIVIDUALITY</h2>
                </div>

            </div>


        </div>

        <img class="divider-line" src='../../assets/divider.png' alt='divider' fxHide.lt-md='true' >
        <div class="footer-items" fxLayout='column' fxLayoutAlign='space-evenly center' fxFlex='40'>
            <a href='#home' mat-button>home</a>
            <a href='#about' mat-button> about us</a>
            <a href='#materials' mat-button>matrial</a>
            <a href='#work' mat-button>work</a>
            <a href='#pro' mat-button>pro</a>
            <a href='#contact' mat-button>contact</a>
        </div>
        <img class="divider-line" src='../../assets/divider.png' alt='divider' fxHide.lt-md='true'>

    </footer>
</div>